@charset "utf-8";
/* CSS Document */

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
}

.top {
	width: 100%;
	height: 16%;
	background-color:#4893E8;
}

.middle {
	width: 100%;
	height: 74%;
	background-color: #89C9FF;
}

.under {
	width: 100%;
	height: 10%;
	background-color:#4893E8;
}

